body {
  padding: 0;
  margin: 0;
  background: #333;
  color: white;
}
.flexContainer {
  margin-top: 50vh;
  display: flex;
  justify-content: space-between;
}
.flexContainer div {
  padding: 5px;
}

.flexStart {
  background: grey;
}
.middleFlex1 {
  flex: 1 1 auto;
  text-align: center;
  background: black;
}
.middleFlex2 {
  flex: 1 1 40%;
  text-align: center;
  background: blue;
}
.flexEnd {
  background: grey;
}
